@model EduSphere.Models.ApplicationUser

@{
    ViewData["Title"] = "User Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="@Model.ProfilePictureURL" class="img-fluid rounded-circle mb-3" alt="Profile Picture" style="max-width: 150px;" />
                    </div>
                    <dl class="row">
                        <dt class="col-sm-4">Full Name:</dt>
                        <dd class="col-sm-8">@Model.FullName</dd>
                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Model.Email</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
